<section
  class='section-py first-section-pt help-center-header position-relative overflow-hidden'
>
  <img
    class='banner-bg-img z-n1'
    src='{{unitImageBanner}}'
    alt='Help center header'
  />
</section>
