<html lang='en' class='layout-wide customizer-hide'>
  <head>
    <meta charset='utf-8' />
    <meta
      name='viewport'
      content='width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0'
    />
    <meta name='robots' content='noindex, nofollow' />
    <title>Demo: Login Basic - Pages | Materialize - Bootstrap Dashboard PRO</title>
    <meta name='description' content='' />
    <link rel='icon' type='image/x-icon' href='img/favicon/favicon.ico' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&ampdisplay=swap'
      rel='stylesheet'
    />
    <link rel='stylesheet' href='/vendor/fonts/iconify-icons.css' />
    <link
      rel='stylesheet'
      href='../../assets/vendor/libs/node-waves/node-waves.css'
    />

    <link rel='stylesheet' href='/vendor/css/core.css' />
    <link
      rel='stylesheet'
      href='vendor/libs/perfect-scrollbar/perfect-scrollbar.css'
    />

    <link
      rel='stylesheet'
      href='vendor/libs/@form-validation/form-validation.css'
    />
    {{#if (isDev)}}
      <script type='module' src='http://localhost:5173/main.js'></script>
    {{else}}
      <link rel='stylesheet' href='/main.css' />
    {{/if}}
    <script src='/vendor/js/helpers.js'></script>
  </head>

  <body>

    {{{body}}}
    <script src='vendor/libs/jquery/jquery.js'></script>
    <script src='vendor/libs/popper/popper.js'></script>
    <script src='/vendor/js/bootstrap.js'></script>
    <script src='vendor/libs/node-waves/node-waves.js'></script>
    <script src='vendor/libs/@algolia/autocomplete-js.js'></script>
    <script src='vendor/libs/perfect-scrollbar/perfect-scrollbar.js'></script>
    <script src='vendor/libs/hammer/hammer.js'></script>
    <script src='vendor/js/menu.js'></script>
    <script src='vendor/libs/@form-validation/popular.js'></script>
    <script src='vendor/libs/@form-validation/bootstrap5.js'></script>
    <script src='vendor/libs/@form-validation/auto-focus.js'></script>
    {{#unless (isDev)}}
      <script src='/main.js'></script>
    {{/unless}}
  </body>
</html>
