<html class='layout-navbar-fixed layout-wide'>
  <head>
    <meta charset='utf-8' />
    <meta
      name='viewport'
      content='width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0'
    />
    <meta name='robots' content='noindex, nofollow' />
    <title>{{ layoutTitle }}</title>
    <meta name='description' content='Patria #106' />
    <!-- Favicon -->
    <link
      rel='icon'
      type='image/x-icon'
      href='//img/favicon/favicon.ico'
    />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&ampdisplay=swap'
      rel='stylesheet'
    />
    <link rel='stylesheet' href='/vendor/fonts/iconify-icons.css' />
    <link rel='stylesheet' href='/vendor/css/core.css' />
    <link rel="stylesheet" href="/vendor/libs/plyr/plyr.css" />
    <link rel="stylesheet" href="/vendor/libs/leaflet/leaflet.css" />
    <link rel="stylesheet" href="/assets/main.css" />
    <script src='/vendor/js/helpers.js'></script>
  </head>

  <body>
    {{>  navbar.unit }}
      {{{body}}}
    {{> footer.unit }}
    <script src='/vendor/js/bootstrap.js'></script>
    <script src="/vendor/libs/plyr/plyr.js"></script>
    <script src="/vendor/libs/leaflet/leaflet.js"></script>
    <script src="/js/maps-leaflet.js"></script>
    <script src="/assets/main.js"></script>
  </body>
</html>
