<html class='layout-navbar-fixed layout-wide' x-data='translation'>
  <head>
    <meta charset='utf-8' />
    <meta
      name='viewport'
      content='width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0'
    />
    <meta name='robots' content='noindex, nofollow' />
    <title>Patria #106</title>
    <meta name='description' content='Patria #106' />
    <!-- Favicon -->
    <link
      rel='icon'
      type='image/x-icon'
      href='/public/img/favicon/favicon.ico'
    />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&ampdisplay=swap'
      rel='stylesheet'
    />
    <link rel='stylesheet' href='/public/vendor/fonts/iconify-icons.css' />
    <link rel='stylesheet' href='/public/vendor/css/core.css' />
    <link rel="stylesheet" href="/public/vendor/libs/plyr/plyr.css" />
    {{! <link rel='stylesheet' href='/src/main.css' /> }}
    {{#if isDev}}
      <script type="module" src="http://localhost:5173/main.js"></script>
    {{else}}
      <link rel="stylesheet" href="/main.css" />
      <script src="/main.js"></script>
    {{/if}}
    <script src='/public/vendor/js/helpers.js'></script>
  </head>

  <body>
    {{> unitNavBar }}
      {{{body}}}
    {{> unitFooter }}
    <script src='/public/vendor/js/bootstrap.js'></script>
    <script src="/public/vendor/libs/plyr/plyr.js"></script>
    {{! <script type='module' src='./src/main.js'></script> }}
  </body>
</html>
