{{>  banner.unit }}

<section class='section-py'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-10 mx-auto'>
        <div class='card'>
          <div class='card-body'>
            <div class='card academy-content shadow-none border'>
              <div class='card-body pt-3'>
                <h5>About this place</h5>
                <p class='mb-0'>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, lorem
                  sed do eiusmod tempor incididunt ut labore et dolore Lorem
                  ipsum dolor sit amet, consectetur adipiscing elit, Lorem ipsum
                  dolor sit amet, consectetur adipiscing elit, Lorem ipsum dolor
                  sit amet, consectetur adipiscing elit, Lorem ipsum dolor sit
                  amet, consectetur adipiscing elit, Lorem ipsum dolor sit amet,
                  consectetur adipiscing elit,
                </p>
                <hr class='my-6' />
                <h5>General Information</h5>
                <div class='d-flex flex-wrap row-gap-2'>
                  <div class='me-12'>
                    <p class='text-nowrap mb-2'>
                      <i class='icon-base ri ri-wifi-fill icon-20px me-2'></i><b
                      >Network</b> Patria106
                      <b>Password</b> !P4tr1412345
                    </p>
                    <p class='text-nowrap mb-2'>
                      <i
                        class='icon-base ri ri-group-line icon-20px me-2'
                      ></i>Allowed Persons: 4
                    </p>
                    <p class='text-nowrap mb-2'>
                      <i
                        class='icon-base ri ri-timer-line icon-20px me-2'
                      ></i>Checkout: 11:00 AM
                    </p>
                    <p class='text-nowrap mb-0'>
                      <i
                        class='icon-base ri ri-user-received-2-line icon-20px me-2'
                      ></i>Allowed Visits: Yes ( Max 4 persons)
                    </p>
                  </div>
                  <div>
                    <p class='text-nowrap mb-2'>
                      <i
                        class='icon-base ri ri-speak-line icon-20px me-2 ms-50'
                      ></i>Time to lower the voice: 22.00 PM
                    </p>
                    <p class='text-nowrap mb-2'>
                      <i
                        class='icon-base ri ri-baidu-line icon-20px me-2'
                      ></i>Pet Friendly: Yes
                    </p>
                    <p class='text-nowrap mb-2'>
                      <i
                        class='icon-base ri ri-building-4-line icon-20px me-2'
                      ></i>Building Common Areas: Yes
                    </p>
                    <p class='text-nowrap'>
                      <i
                        class='icon-base ri ri-lungs-line icon-20px me-2'
                      ></i>Smoking: Allowed
                    </p>
                  </div>
                </div>
                <hr class='my-6' />
                <h5>How does it work?</h5>
                <div class='row g-6 mb-6'>
                  <div class='accordion mt-4' id='accordionWithIcon'>
                    <div class='accordion-item'>
                      <h2 class='accordion-header d-flex align-items-center'>
                        <button
                          type='button'
                          class='accordion-button collapsed'
                          data-bs-toggle='collapse'
                          data-bs-target='#accordionWithIcon-1'
                          aria-expanded='false'
                        >
                          SofaCama
                        </button>
                      </h2>

                      <div
                        id='accordionWithIcon-1'
                        class='accordion-collapse collapse'
                        style=''
                      >
                        <div class='accordion-body'>
                          <div class='p-2'>
                            <div class='cursor-pointer'>
                              <div
                                class='plyr plyr--full-ui plyr--video plyr--html5 plyr--fullscreen-enabled plyr--paused plyr--stopped plyr--pip-supported plyr__poster-enabled'
                                style='border-radius: 10px'
                              >
                                <div class='plyr__controls'>
                                  <button
                                    class='plyr__controls__item plyr__control'
                                    type='button'
                                    data-plyr='play'
                                    aria-pressed='false'
                                    aria-label='Play'
                                  >
                                    <svg
                                      class='icon--pressed'
                                      aria-hidden='true'
                                      focusable='false'
                                    >
                                      <use
                                        xlink:href='#plyr-pause'
                                      ></use></svg><svg
                                      class='icon--not-pressed'
                                      aria-hidden='true'
                                      focusable='false'
                                    >
                                      <use
                                        xlink:href='#plyr-play'
                                      ></use></svg><span
                                      class='label--pressed plyr__sr-only'
                                    >Pause</span><span
                                      class='label--not-pressed plyr__sr-only'
                                    >Play</span>
                                  </button>
                                  <div
                                    class='plyr__controls__item plyr__progress__container'
                                  >
                                    <div class='plyr__progress'>
                                      <input
                                        data-plyr='seek'
                                        type='range'
                                        min='0'
                                        max='100'
                                        step='0.01'
                                        value='0'
                                        autocomplete='off'
                                        role='slider'
                                        aria-label='Seek'
                                        aria-valuemin='0'
                                        aria-valuemax='183.125333'
                                        aria-valuenow='0'
                                        id='plyr-seek-9656'
                                        aria-valuetext='00:00 of 00:00'
                                        style='--value: 0%'
                                        seek-value='92.50790109685815'
                                      /><progress
                                        class='plyr__progress__buffer'
                                        min='0'
                                        max='100'
                                        value='2.1012931072731478'
                                        role='progressbar'
                                        aria-hidden='true'
                                      >
                                        % buffered</progress><span
                                        class='plyr__tooltip'
                                        style='left: 100%'
                                      >03:03</span>
                                    </div>
                                  </div>
                                  <div
                                    class='plyr__controls__item plyr__time--current plyr__time'
                                    aria-label='Current time'
                                    role='timer'
                                  >
                                    03:03
                                  </div>
                                  <div
                                    class='plyr__controls__item plyr__volume'
                                  >
                                    <button
                                      type='button'
                                      class='plyr__control'
                                      data-plyr='mute'
                                      aria-pressed='false'
                                    >
                                      <svg
                                        class='icon--pressed'
                                        aria-hidden='true'
                                        focusable='false'
                                      >
                                        <use
                                          xlink:href='#plyr-muted'
                                        ></use></svg><svg
                                        class='icon--not-pressed'
                                        aria-hidden='true'
                                        focusable='false'
                                      >
                                        <use
                                          xlink:href='#plyr-volume'
                                        ></use></svg><span
                                        class='label--pressed plyr__sr-only'
                                      >Unmute</span><span
                                        class='label--not-pressed plyr__sr-only'
                                      >Mute</span></button><input
                                      data-plyr='volume'
                                      type='range'
                                      min='0'
                                      max='1'
                                      step='0.05'
                                      value='1'
                                      autocomplete='off'
                                      role='slider'
                                      aria-label='Volume'
                                      aria-valuemin='0'
                                      aria-valuemax='100'
                                      aria-valuenow='100'
                                      id='plyr-volume-9656'
                                      aria-valuetext='100.0%'
                                      style='--value: 100%'
                                    />
                                  </div>
                                  <button
                                    class='plyr__controls__item plyr__control'
                                    type='button'
                                    data-plyr='captions'
                                    aria-pressed='false'
                                  >
                                    <svg
                                      class='icon--pressed'
                                      aria-hidden='true'
                                      focusable='false'
                                    >
                                      <use
                                        xlink:href='#plyr-captions-on'
                                      ></use></svg><svg
                                      class='icon--not-pressed'
                                      aria-hidden='true'
                                      focusable='false'
                                    >
                                      <use
                                        xlink:href='#plyr-captions-off'
                                      ></use></svg><span
                                      class='label--pressed plyr__sr-only'
                                    >Disable captions</span><span
                                      class='label--not-pressed plyr__sr-only'
                                    >Enable captions</span>
                                  </button>
                                  <div class='plyr__controls__item plyr__menu'>
                                    <button
                                      aria-haspopup='true'
                                      aria-controls='plyr-settings-9656'
                                      aria-expanded='false'
                                      type='button'
                                      class='plyr__control'
                                      data-plyr='settings'
                                      aria-pressed='false'
                                    >
                                      <svg aria-hidden='true' focusable='false'>
                                        <use
                                          xlink:href='#plyr-settings'
                                        ></use></svg><span
                                        class='plyr__sr-only'
                                      >Settings</span>
                                    </button>
                                    <div
                                      class='plyr__menu__container'
                                      id='plyr-settings-9656'
                                      hidden=''
                                    >
                                      <div>
                                        <div id='plyr-settings-9656-home'>
                                          <div role='menu'>
                                            <button
                                              data-plyr='settings'
                                              type='button'
                                              class='plyr__control plyr__control--forward'
                                              role='menuitem'
                                              aria-haspopup='true'
                                              hidden=''
                                            >
                                              <span>Captions<span
                                                  class='plyr__menu__value'
                                                >Disabled</span></span></button><button
                                              data-plyr='settings'
                                              type='button'
                                              class='plyr__control plyr__control--forward'
                                              role='menuitem'
                                              aria-haspopup='true'
                                              hidden=''
                                            >
                                              <span>Quality<span
                                                  class='plyr__menu__value'
                                                >0</span></span></button><button
                                              data-plyr='settings'
                                              type='button'
                                              class='plyr__control plyr__control--forward'
                                              role='menuitem'
                                              aria-haspopup='true'
                                            >
                                              <span>Speed<span
                                                  class='plyr__menu__value'
                                                >Normal</span></span>
                                            </button>
                                          </div>
                                        </div>
                                        <div
                                          id='plyr-settings-9656-captions'
                                          hidden=''
                                        >
                                          <button
                                            type='button'
                                            class='plyr__control plyr__control--back'
                                          >
                                            <span
                                              aria-hidden='true'
                                            >Captions</span><span
                                              class='plyr__sr-only'
                                            >Go back to previous menu</span>
                                          </button>
                                          <div role='menu'></div>
                                        </div>
                                        <div
                                          id='plyr-settings-9656-quality'
                                          hidden=''
                                        >
                                          <button
                                            type='button'
                                            class='plyr__control plyr__control--back'
                                          >
                                            <span
                                              aria-hidden='true'
                                            >Quality</span><span
                                              class='plyr__sr-only'
                                            >Go back to previous menu</span>
                                          </button>
                                          <div role='menu'></div>
                                        </div>
                                        <div
                                          id='plyr-settings-9656-speed'
                                          hidden=''
                                        >
                                          <button
                                            type='button'
                                            class='plyr__control plyr__control--back'
                                          >
                                            <span
                                              aria-hidden='true'
                                            >Speed</span><span
                                              class='plyr__sr-only'
                                            >Go back to previous menu</span>
                                          </button>
                                          <div role='menu'>
                                            <button
                                              data-plyr='speed'
                                              type='button'
                                              role='menuitemradio'
                                              class='plyr__control'
                                              aria-checked='false'
                                              value='0.5'
                                            >
                                              <span>0.5×</span></button><button
                                              data-plyr='speed'
                                              type='button'
                                              role='menuitemradio'
                                              class='plyr__control'
                                              aria-checked='false'
                                              value='0.75'
                                            >
                                              <span>0.75×</span></button><button
                                              data-plyr='speed'
                                              type='button'
                                              role='menuitemradio'
                                              class='plyr__control'
                                              aria-checked='true'
                                              value='1'
                                            >
                                              <span
                                              >Normal</span></button><button
                                              data-plyr='speed'
                                              type='button'
                                              role='menuitemradio'
                                              class='plyr__control'
                                              aria-checked='false'
                                              value='1.25'
                                            >
                                              <span>1.25×</span></button><button
                                              data-plyr='speed'
                                              type='button'
                                              role='menuitemradio'
                                              class='plyr__control'
                                              aria-checked='false'
                                              value='1.5'
                                            >
                                              <span>1.5×</span></button><button
                                              data-plyr='speed'
                                              type='button'
                                              role='menuitemradio'
                                              class='plyr__control'
                                              aria-checked='false'
                                              value='1.75'
                                            >
                                              <span>1.75×</span></button><button
                                              data-plyr='speed'
                                              type='button'
                                              role='menuitemradio'
                                              class='plyr__control'
                                              aria-checked='false'
                                              value='2'
                                            >
                                              <span>2×</span></button><button
                                              data-plyr='speed'
                                              type='button'
                                              role='menuitemradio'
                                              class='plyr__control'
                                              aria-checked='false'
                                              value='4'
                                            >
                                              <span>4×</span>
                                            </button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <button
                                    class='plyr__controls__item plyr__control'
                                    type='button'
                                    data-plyr='pip'
                                    aria-pressed='false'
                                  >
                                    <svg aria-hidden='true' focusable='false'>
                                      <use
                                        xlink:href='#plyr-pip'
                                      ></use></svg><span
                                      class='plyr__sr-only'
                                    >PIP</span></button><button
                                    class='plyr__controls__item plyr__control'
                                    type='button'
                                    data-plyr='fullscreen'
                                    aria-pressed='false'
                                  >
                                    <svg
                                      class='icon--pressed'
                                      aria-hidden='true'
                                      focusable='false'
                                    >
                                      <use
                                        xlink:href='#plyr-exit-fullscreen'
                                      ></use></svg><svg
                                      class='icon--not-pressed'
                                      aria-hidden='true'
                                      focusable='false'
                                    >
                                      <use
                                        xlink:href='#plyr-enter-fullscreen'
                                      ></use></svg><span
                                      class='label--pressed plyr__sr-only'
                                    >Exit fullscreen</span><span
                                      class='label--not-pressed plyr__sr-only'
                                    >Enter fullscreen</span>
                                  </button>
                                </div>
                                <div class='plyr__video-wrapper'>
                                  <video
                                    class='w-100'
                                    poster='https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.jpg'
                                    id='plyr-video-player'
                                    playsinline=''
                                    data-poster='https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.jpg'
                                  >
                                    <source
                                      src='https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-576p.mp4'
                                      type='video/mp4'
                                    />
                                  </video>
                                  <div
                                    class='plyr__poster'
                                    style='
                                          display: none;
                                          background-image: url(&quot;https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.jpg&quot;);
                                        '
                                  ></div>
                                </div>
                                <div class='plyr__captions' dir='auto'></div>
                                <button
                                  type='button'
                                  class='plyr__control plyr__control--overlaid'
                                  data-plyr='play'
                                  aria-pressed='false'
                                  aria-label='Play'
                                >
                                  <svg aria-hidden='true' focusable='false'>
                                    <use
                                      xlink:href='#plyr-play'
                                    ></use></svg><span
                                    class='plyr__sr-only'
                                  >Play</span>
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class='accordion-item'>
                      <h2 class='accordion-header d-flex align-items-center'>
                        <button
                          type='button'
                          class='accordion-button collapsed'
                          data-bs-toggle='collapse'
                          data-bs-target='#accordionWithIcon-2'
                          aria-expanded='false'
                        >
                          Microware
                        </button>
                      </h2>
                      <div
                        id='accordionWithIcon-2'
                        class='accordion-collapse collapse'
                      >
                        <div class='accordion-body'>
                          Dessert ice cream donut oat cake jelly-o pie sugar
                          plum cheesecake. Bear claw dragée oat cake dragée ice
                          cream halvah tootsie roll. Danish cake oat cake pie
                          macaroon tart donut gummies. Jelly beans candy canes
                          carrot cake. Fruitcake chocolate chupa chups.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--
            <div class="row g-6 mb-6">
              <div class="accordion mt-4" id="accordionWithIcon">
                <div class="accordion-item active">
                  <h2 class="accordion-header d-flex align-items-center">
                    <button
                      type="button"
                      class="accordion-button"
                      data-bs-toggle="collapse"
                      data-bs-target="#accordionWithIcon-1"
                      aria-expanded="true"
                    >
                      <i class="icon-base ri ri-bar-chart-fill me-2"></i>
                      Header Option 1
                    </button>
                  </h2>

                  <div
                    id="accordionWithIcon-1"
                    class="accordion-collapse collapse show"
                    style=""
                  >
                    <div class="accordion-body">
                      Lemon drops chocolate cake gummies carrot cake chupa chups
                      muffin topping. Sesame snaps icing marzipan gummi bears
                      macaroon dragée danish caramels powder. Bear claw dragée
                      pastry topping soufflé. Wafer gummi bears marshmallow
                      pastry pie.
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header d-flex align-items-center">
                    <button
                      type="button"
                      class="accordion-button collapsed"
                      data-bs-toggle="collapse"
                      data-bs-target="#accordionWithIcon-2"
                      aria-expanded="false"
                    >
                      <i class="icon-base ri ri-briefcase-line me-2"></i>
                      Header Option 2
                    </button>
                  </h2>
                  <div
                    id="accordionWithIcon-2"
                    class="accordion-collapse collapse"
                  >
                    <div class="accordion-body">
                      Dessert ice cream donut oat cake jelly-o pie sugar plum
                      cheesecake. Bear claw dragée oat cake dragée ice cream
                      halvah tootsie roll. Danish cake oat cake pie macaroon
                      tart donut gummies. Jelly beans candy canes carrot cake.
                      Fruitcake chocolate chupa chups.
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header d-flex align-items-center">
                    <button
                      type="button"
                      class="accordion-button collapsed"
                      data-bs-toggle="collapse"
                      data-bs-target="#accordionWithIcon-3"
                      aria-expanded="false"
                    >
                      <i class="icon-base ri ri-gift-line me-2"></i>
                      Header Option 3
                    </button>
                  </h2>
                  <div
                    id="accordionWithIcon-3"
                    class="accordion-collapse collapse"
                  >
                    <div class="accordion-body">
                      Oat cake toffee chocolate bar jujubes. Marshmallow brownie
                      lemon drops cheesecake. Bonbon gingerbread marshmallow
                      sweet jelly beans muffin. Sweet roll bear claw candy canes
                      oat cake dragée caramels. Ice cream wafer danish cookie
                      caramels muffin.
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="card border shadow-none">
                  <a href="#">
                    <div class="card-body text-center">
                      <i class="icon-base ri ri-home-4-line icon-48px"></i>
                      <h5
                        class="my-3"
                        x-text="t('apartment:title:accommodation')"
                      >
                        Accommodation
                      </h5>
                    </div>
                  </a>
                </div>
              </div>

              <div class="col-md-12">
                <div class="card border shadow-none">
                  <a href="#">
                    <div class="card-body text-center">
                      <i class="icon-base ri ri-home-4-line icon-48px"></i>
                      <h5
                        class="my-3"
                        x-text="t('apartment:title:accommodation')"
                      >
                        Accommodation
                      </h5>
                    </div>
                  </a>
                </div>
              </div>

              <div class="col-md-12">
                <div class="card border shadow-none">
                  <a href="#">
                    <div class="card-body text-center">
                      <i class="icon-base ri ri-ticket-line icon-48px"></i>
                      <h5 class="my-3" x-text="t('apartment:title:tour')">
                        Tours and excursions
                      </h5>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          --></div>
    </div>
  </div>
</section>
