<section
  class='section-py first-section-pt help-center-header position-relative overflow-hidden'
>
  <img
    class='banner-bg-img z-n1'
    src='/public/img/pages/gray_apartment1.jpg'
    alt='Help center header'
  />
</section>

<section class='section-py'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-10 mx-auto'>
        <div class='row g-6 mb-6'>
          <div class='col-md-6'>
            <div class='card border shadow-none'>
              <a href='/units/demo/accommodation'>
                <div class='card-body text-center'>
                  <i class='icon-base ri ri-home-4-line icon-48px'></i>
                  <h5 class='my-3'>
                    {{t 'apartment:title:accommodation'}}
                  </h5>
                </div>
              </a>
            </div>
          </div>

          <div class='col-md-6'>
            <div class='card border shadow-none'>
              <a href='/units/demo/tourist-places'>
                <div class='card-body text-center'>
                  <i class='icon-base ri ri-ticket-line icon-48px'></i>
                  <h5 class='my-3'>
                    Tours and excursions
                  </h5>
                </div>
              </a>
            </div>
          </div>

          <div class='col-md-6'>
            <div class='card border shadow-none'>
              <a href='/units/demo/tourist-places'>
                <div class='card-body text-center'>
                  <i class='icon-base ri ri-camera-3-line icon-48px'></i>
                  <h5 class='my-3'>
                    Tourist Places
                  </h5>
                </div>
              </a>
            </div>
          </div>

          <div class='col-md-6'>
            <div class='card border shadow-none'>
              <a href='#'>
                <div class='card-body text-center'>
                  <i class='icon-base ri ri-handbag-line icon-48px'></i>
                  <h5 class='my-3'>
                    Luggage Storage
                  </h5>
                </div>
              </a>
            </div>
          </div>

          <div class='col-md-6'>
            <div class='card border shadow-none'>
              <a href='#'>
                <div class='card-body text-center'>
                  <i class='icon-base ri ri-taxi-line icon-48px'></i>
                  <h5 class='my-3'>
                    Request a Taxi
                  </h5>
                </div>
              </a>
            </div>
          </div>

          <div class='col-md-6'>
            <div class='card border shadow-none'>
              <a href='#'>
                <div class='card-body text-center'>
                  <i class='icon-base ri ri-service-bell-line icon-48px'></i>
                  <h5 class='my-3'>
                    Additional Services
                  </h5>
                </div>
              </a>
            </div>
          </div>

          <div class='col-md-6'>
            <div class='card border shadow-none'>
              <a href='/units/demo/around'>
                <div class='card-body text-center'>
                  <i class='icon-base ri ri-map-2-line icon-48px'></i>
                  <h5 class='my-3'>
                    Around Me
                  </h5>
                </div>
              </a>
            </div>
          </div>

          <div class='col-md-6'>
            <div class='card border shadow-none'>
              <a href='#'>
                <div class='card-body text-center'>
                  <i class='icon-base ri ri-info-i icon-48px'></i>
                  <h5 class='my-3'>
                    Information
                  </h5>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class='section-py bg-body'>
  <div class='container'>
    <div class='row justify-content-center'>
      <div class='col-md-8 col-lg-6 text-center'>
        <h4>Still need help?</h4>
        <p>
          Our specialists are always happy to help.<br />Contact us during
          standard business hours or email us 24/7 and we'll get back to you.
        </p>
        <div class='d-flex justify-content-center flex-wrap gap-6'>
          <a
            href='javascript:void(0);'
            class='btn btn-primary waves-effect waves-light'
          >Contact us</a>
        </div>
      </div>
    </div>
  </div>
</section>
